- # Meta & Page Setup
- @page_title = t('.page_title', default: '')
- @page_meta_description = t('.meta.description', default: '')
- @page_meta_keywords = t('.meta.keywords', default: '')
- @page_share_title = t('.page_title', default: '')
- @page_share_description = t('.meta.description', default: '')
- @breadcrumbs << {name: t('.breadcrumbs')}
- @page_meta_type = :profile
- @section = :about


:coffee
  $(document).ready ->
    $(window).on 'resize', ->
      h = $('#biography_stats').height() + $('#biography_stats').position().top
      m = parseInt $('#biography').css('margin-top')
      h -= m unless m > 0
      $('#biography_content').css 'min-height', h

    $(window).trigger 'resize'


- # Upper Page Content
- content_for(:upper_container) do
  .feature-area
    .feature-item
      .feature-content
        .hidden-xs
          %video
            - # We do not want to keep videos in the repo, so these are hosted on CDN.
            / %source{src: '', type: "video/mp4"}
            / %source{src: '', type: "video/ogg"}
            = image_tag 'static_pages/about/me_mobile.png', title: '', alt: '' # Unsupported video
        .visible-xs-block
          = image_tag 'static_pages/about/me_mobile.png', title: '', alt: ''

- # Page Content
%article
  .intro-box
    %header
      %h1= t('.heading')
    - unless Setting.about_latest_tweet.blank?
      %aside#latest-activity.hidden-xs
        %h3= t('.latest.twitter')
        %q= Sanitize.fragment( Setting.about_latest_tweet['html'], elements: ['a'], attributes: {'a' => ['href', 'target', 'rel']}, protocols: {'a' => {'href' => ['http', 'https']}}).html_safe
        %h4
          %a.socialicon.socialicon-twitter{href: Setting.about_latest_tweet['url'], target: '_blank'}

  #biography_content
    %section#biography
      = simple_format( t('.bio') )
    %aside#biography_stats.hidden-xs
      - stats = {}

      - stats[:github] = {setting: :stats_github_commits, url: github_url, stat_count: Setting.stats_github_repos}
      - #stats[:tweets] = {setting: :stats_tweets, url: twitter_url}
      - stats[:favorited_tweets] = {setting: :stats_favorited_tweets, url: twitter_favorites_url}
      - #stats[:miles] = {setting: :stats_miles_flown}
      - #stats[:allnighters] = {setting: :stats_all_nighters}
      - stats[:c_and_ds] = {setting: :stats_c_and_ds}

      - stats.each do |stat,val|
        - num = Setting.send(val[:setting]) || 0
        = content_tag((val[:url].present? ? :a : :div), (val[:url].present? ? {href: val[:url], target: '_blank'} : nil) ) do
          %dl
            %dt= number_to_human(num, precision: 1, significant: false, units: :short_count, format: '%n%u')
            %dd{'data-stat-value' => "#{number_with_delimiter(num)} #{stat}"}= t(".bio_stats.#{stat}", count: val[:stat_count])

  %hr

  %aside.social-links
    %ul.list-unstyled.col-md-9.col-xs-12
      - {twitter: twitter_url, github: github_url, linkedin: linkedin_url, instagram: instagram_url, email: email_url}.each do |name,url|
        %li{'data-platform' => name}
          = link_to url, class: "socialicon socialicon-#{name}", title: t(name), target: '_blank' do
            %span= t(name)
    - if false
      %ul.list-unstyled.col-md-3.col-xs-12
        %li{'data-link' => 'resume'}
          = link_to resume_url do
            %span= t('.resume')
    .clearfix

  %hr

  #info-list
    - [:exhibitions, :residencies, :awards, :c_and_d].each do |g|
      - list = t(g, scope: 'static_pages.about', default: '') rescue nil
      - unless list.blank? || list[:list].blank?
        %section.container-fluid{id: g}
          %h3= list[:title]
          .row
            - list[:list].each_with_index do |n,i|
              .item.col-md-3.col-sm-6.col-xs-12
                - if n.is_a?(Hash)
                  - a = ([[:name, :source, :place, :year], [:location, :date]].map{|v| v.map{|s| n[s]}.compact.join(', ').gsub(/\",/, ',"')}.reject(&:blank?) + ['']).flatten.join('. ')
                  - if n[:url].present?
                    - a << link_to("[#{n[:url_text] || t('.info.link')}]", n[:url], target: '_blank')
                  = a.html_safe
                - else
                  = n
              - if (i+1) % 4 == 0
                .clearfix.visible-md-block.visible-lg-block
              - if (i+1) % 3 == 0
                .clearfix.visible-sm-block
              - if (i+1) % 2 == 0
                .clearfix.visible-xs-block
            .clearfix
