- @page_title = t('.page_title', default: '')
- @page_meta_description = t('.meta.description', default: '')
- @page_meta_keywords = t('.meta.keywords', default: '')
- @page_share_title = t('.page_title', default: '')
- @page_share_description = t('.meta.description', default: '')
- @breadcrumbs << {name: 'Greg Leuch'}
- @breadcrumbs << {name: t('.breadcrumbs')}#.sample}
- @body_classes << 'homepage'


.big-intro
  %header.page-header.hidden
    %h1= t('.intro.title')
    %h4= t('.intro.text')

.work.work-home
  #home-works-area
    %h1.title.text-center= t('.intro.title')
    %h4.subtitle.text-center= t('.intro.text')

    #projects.col-xs-12.col-sm-6
      %a{href: projects_url}
        %h1.text-center= t('.projects.title')
        - # %h4= t('.projects.description').html_safe

      %ul.works-list.list-unstyled
        - @featured_projects.take(4).each_with_index do |project,i|
          - next if project.blank?
          %li{class: (i > 2 ? 'hidden-xs' : nil)}
            = link_to project_url( project[:slug] ) do
              .image-area
                - if project[:image].present?
                  .image{style: "background-image: url('#{project[:image]}')"}
              %h1= project[:name]
              - if project[:description].present?
                .description.hidden-xs= project[:description]
      .clearfix
    
      %footer.works-footer
        %a.btn.btn-more{href: projects_url}= t('.projects.more')


    #client-work.col-xs-12.col-sm-6
      %a{href: client_works_url}
        %h1.text-center= t('.works.title')
        - # %h4= t('.works.description').html_safe

      %ul.works-list.list-unstyled
        - @featured_works.take(4).each_with_index do |work,i|
          - next if work.blank?
          %li{class: (i > 2 ? 'hidden-xs' : nil)}
            = link_to client_work_url( work[:slug] ) do
              .image-area
                - if work[:image].present?
                  .image{style: "background-image: url('#{work[:image]}')"}
              %h1= work[:name]
              - if work[:description].present?
                .description= work[:description]
      .clearfix

      %footer.works-footer
        %a.btn.btn-more{href: client_works_url}= t('.works.more')

    .clearfix