- #@breadcrumbs << {name: t('.breadcrumb_title')}


.container-fluid
  #intro.col-xs-12
    %h1.text-center= t('.intro.text')

  #projects.col-xs-12.col-sm-6
    %a{href: projects_url}
      %h1= t('.projects.title')
      %h4= t('.projects.description').html_safe

    %ul.list-unstyled
      - @featured_projects.each_with_index do |project,i|
        %li.col-xs-6.col-sm-3{style: "background-color: #{project[:color] || 'transparent'};"}
          = link_to project_url( project[:slug] ) do
            %h4= project[:name]

  #client-work.col-xs-12.col-sm-6
    %a{href: client_works_url}
      %h1= t('.works.title')
      %h4= t('.works.description').html_safe

    %ul.list-unstyled
      - @featured_works.each_with_index do |work,i|
        %li.col-xs-6.col-sm-3{style: "background-color: #{work[:color] || 'transparent'};"}
          = link_to client_work_url( work[:slug] ) do
            %h4= work[:name]