- @page_meta_description = t('.meta.description', default: '')
- @page_meta_keywords = t('.meta.keywords', default: '')
- @page_share_description = t('.meta.description', default: '')


- if @search_query.present?
  - @page_title = t('.page_title_results', default: '', query: @search_query)
  - @page_share_title = t('.page_title_results', default: '')

  .page-header
    %h1= t('.heading_results', query: @search_query)
    - unless @search_results.blank?
      %p= t('.subheading_results', query: @search_query, count: @search_results.size)

  #search-results
    - unless @search_results.blank?
      - @search_results.each do |v|
        = render v[:type], result: v rescue nil

    - else
      .none.text-center= t('.none', query: @search_query)
  
  %footer#search-footer
    %h4= t('.search_again')
    = render 'form'

- else
  - @page_share_title = t('.page_title', default: '')
  - @page_title = t('.page_title', default: '', query: @search_query)

  .page-header
    %h1= t('.heading', query: @search_query)

  = render 'form'
