%nav#nav-pullout
  %ul#menu-items.list-unstyled
    - {home: root_url, client_work: client_works_url, projects: projects_url, about: static_page_url(:about), contact: contact_messages_url}.each do |name, url|
      %li{class: (@section == name ? 'active' : '')}
        = link_to t(name, scope: [:nav]), url
    %li
      = link_to search_url, id: 'nav-search' do
        = t('.search', scope: [:nav])
    
  %footer#nav-footer
    %ul.list-unstyled
      - {twitter: twitter_url, github: github_url, linkedin: linkedin_url, instagram: instagram_url, email: email_url}.each do |name,url|
        %li{'data-platform' => name}
          = link_to url, class: "socialicon socialicon-#{name}", title: t(name), target: '_blank' do
            %span= t(name)
    %p.hidden-xs
      = t(:footer, year: Date.today.year).html_safe

%footer#mobile-footer.visible-xs-block
  .container-fluid
    %ul.list-unstyled.pull-right
      - {twitter: twitter_url, githublogo: github_url, linkedin: linkedin_url, instagram: instagram_url, email: email_url}.each do |name,url|
        %li{'data-platform' => name}
          = link_to url, class: "socialicon socialicon-#{name}", title: t(name), target: '_blank' do
            %span= t(name)
    %p= t(:footer, year: Date.today.year).html_safe
    .clearfix

%aside#search-overlay
  %a.search-close{href: 'javascript:;'} &times;
  = render 'search/form'