%header
  %ul
    %li= link_to t('nav.home'), root_url
    %li= link_to t('nav.projects'), projects_url
    %li= link_to t('nav.client_work'), client_works_url
    %li= link_to t('nav.about'), static_page_url(:about)
    %li= link_to t('nav.contact'), contact_messages_url
    