- # Meta & Page Setup
- @page_title = t('.page_title', default: '')
- @page_meta_description = t('.meta.description', default: '')
- @page_meta_keywords = t('.meta.keywords', default: '')
- @page_share_title = t('.page_title', default: '')
- @page_share_description = t('.meta.description', default: '')
- @breadcrumbs << {name: t('.breadcrumbs')}


.page-header
  %h1= t('.heading')
  %p= t('.copy')

#projects-list.container-fluid
  - unless @projects_list.blank?
    - @projects_list.each do |yr,list|
      .container-fluid
        - unless list.blank?
          %h2= yr
          - list.each_with_index do |project,i|
            .item.col-md-3.col-sm-4.col-xs-6
              %h3
                - if project[:url].present?
                  = link_to project[:name], project[:url], target: '_blank'
                - elsif project[:project_url].present?
                  = link_to project[:name], project[:project_url]
                - else
                  = project[:name]
              %dl
                - [:note, :category, :partners, :client, :support, :media].each do |n|
                  - unless project[n].blank?
                    %dd{class: "list-#{n}"}= project[n]
            - if (i+1) % 4 == 0
              .clearfix.visible-md-block.visible-lg-block
            - if (i+1) % 3 == 0
              .clearfix.visible-sm-block
            - if (i+1) % 2 == 0
              .clearfix.visible-xs-block
          .clearfix
          
  - else
    %p.text-center= t('.none')
