- # Meta & Page Setup
- @page_title = t('.page_title', default: '')
- @page_meta_description = t('.meta.description', default: '')
- @page_meta_keywords = t('.meta.keywords', default: '')
- @page_share_title = t('.page_title', default: '')
- @page_share_description = t('.meta.description', default: '')
- @breadcrumbs << {name: t('.heading')}


- # Carousel Images
- carousel_images = []
- carousel_images << {vimeo: 'https://player.vimeo.com/video/11800814'}
- #carousel_images << {img: image_tag('projects/shaved-bieber/carousel-1.jpg', alt: ''), caption: t('.carousel.captions')[0]}
- #carousel_images << {img: image_tag('projects/shaved-bieber/carousel-2.jpg', alt: ''), caption: t('.carousel.captions')[1]}


- # Page Content
- content_opts = {}
- content_opts[:subheading] = t('.subheading', default: '')
- content_opts[:statement] = t('.statement')
- content_opts[:explanation] = t('.explanation')
- content_opts[:content_rails] = t('.content_rails', default: '')
- content_opts[:share_link] = @canonical_url
- content_opts[:github_link] = 'https://github.com/gleuch/shaved-bieber'

%article
  = render 'projects/intro_area', heading: t('.heading', default: ''), carousel_images: carousel_images
  = render 'projects/content', content_opts
  = render 'projects/exhibitions', exhibitions: t('.exhibitions')
  = render 'projects/awards', awards: t('.awards')
  = render 'projects/press', press: t('.press')

  = render 'projects/footer'