- @page_title = t('.page_title', default: '')
- @page_meta_description = t('.meta.description', default: '')
- @page_meta_keywords = t('.meta.keywords', default: '')
- @page_share_title = t('.page_title', default: '')
- @page_share_description = t('.meta.description', default: '')


%header.page-header
  %h1= t('.heading')
  %h4= t('.subheading')
  %p
    = link_to client_work_url(:all) do
      .hidden-xs= t('.list')
      .visible-xs-inline= t('.list_mobile')

#works-area
  %ul.works-list.list-unstyled
    - @featured_works.each_with_index do |work,i|
      %li
        = link_to client_work_url( work[:slug] ) do
          .image-area
            - if work[:image].present?
              .image{style: "background-image: url('#{work[:image]}')"}
          %h1= work[:name]
          - if work[:description].present?
            .description= work[:description]

  .clearfix

  %footer
    [more clients button]



- if false
  %hr

  %h3 TMP, FOR TESTING PAGES
  %ul
    - %w(heineken-fever-keeper whats-trending buzzfeed know-your-meme zagat-food-trucks magma politics4all thesa-me auburn-art-college-football-art).each do |page|
      %li= link_to page.humanize.titleize, client_work_url(page)