!!!
%html{locale: 'en-us'}
  %head
    %title= @page_title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags




  %body{class: @body_classes}

    = render 'layouts/static/header'

    = yield



    %footer
      %p
        %small= t(:footer, year: Date.today.year).html_safe