!!!
%html{lang: 'en', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml', 'xmlns:og' => 'http://opengraphprotocol.org/schema/', 'xmlns' => 'http://www.w3.org/1999/xhtml'}
  %head{prefix: 'og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#'}
    :plain
      <!--
    
    
                        ______     __         ______     __  __         ______     __  __                   
                       /\  ___\   /\ \       /\  ___\   /\ \/\ \       /\  ___\   /\ \_\ \                  
                       \ \ \__ \  \ \ \____  \ \  __\   \ \ \_\ \      \ \ \____  \ \  __ \                 
                        \ \_____\  \ \_____\  \ \_____\  \ \_____\  __  \ \_____\  \ \_\ \_\                
                         \/_____/   \/_____/   \/_____/   \/_____/  \_\  \/_____/   \/_/\/_/                
                                                                
    
                            Portfolio website of Greg Leuch | contact@gleu.ch | @gleuch                     
    
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    
                   All work is copyrighted 2003-#{Date.today.year} by Greg Leuch and/or its respective owners.            
    
           All other non-copyrighted or non-licensed work is licensed under Creative Commons Attribution-   
             Share Alike 3.0 United States License <http://creativecommons.org/licenses/by-sa/3.0/us>.      
    
              Permissions beyond the scope of this license may be acquired at http://gleu.ch/contact.       
    
    
      -->
    %meta{charset: 'UTF-8'}

    %title= page_title

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    = render 'layouts/static/meta_tags'

    = render 'layouts/header'


  %body{class: @body_classes}
    = render 'layouts/body_header'

    = render 'layouts/static/header'

    #wrapper
      - if content_for?(:upper_container)
        #upper-container.container-fluid
          = yield :upper_container
          .clearfix

      #container
        #content.container-fluid
          = yield
          .clearfix

    = render 'layouts/static/footer'
    = render 'layouts/footer'